bg ICON ".\lang_icons\bg.ico"
ca ICON ".\lang_icons\es.ico"
cs ICON ".\lang_icons\cz.ico"
da ICON ".\lang_icons\dk.ico"
el ICON ".\lang_icons\gr.ico"
fi ICON ".\lang_icons\fi.ico"
he ICON ".\lang_icons\il.ico"
hu ICON ".\lang_icons\hu.ico"
is ICON ".\lang_icons\is.ico"
ja ICON ".\lang_icons\jp.ico"
ko ICON ".\lang_icons\kr.ico"
nb ICON ".\lang_icons\no.ico"
pl ICON ".\lang_icons\pl.ico"
rm ICON ".\lang_icons\ch.ico"
ro ICON ".\lang_icons\ro.ico"
ru ICON ".\lang_icons\ru.ico"
sk ICON ".\lang_icons\sk.ico"
sq ICON ".\lang_icons\al.ico"
th ICON ".\lang_icons\th.ico"
tr ICON ".\lang_icons\tr.ico"
ur ICON ".\lang_icons\pk.ico"
id ICON ".\lang_icons\id.ico"
uk ICON ".\lang_icons\ua.ico"
be ICON ".\lang_icons\by.ico"
sl ICON ".\lang_icons\si.ico"
et ICON ".\lang_icons\ee.ico"
lv ICON ".\lang_icons\lv.ico"
lt ICON ".\lang_icons\lt.ico"
tg ICON ".\lang_icons\tj.ico"
fa ICON ".\lang_icons\ir.ico"
vi ICON ".\lang_icons\vn.ico"
hy ICON ".\lang_icons\am.ico"
eu ICON ".\lang_icons\es.ico"
mk ICON ".\lang_icons\mk.ico"
tn ICON ".\lang_icons\bw.ico"
xh ICON ".\lang_icons\za.ico"
zu ICON ".\lang_icons\za.ico"
af ICON ".\lang_icons\za.ico"
ka ICON ".\lang_icons\ge.ico"
fo ICON ".\lang_icons\fo.ico"
hi ICON ".\lang_icons\in.ico"
mt ICON ".\lang_icons\mt.ico"
kk ICON ".\lang_icons\kz.ico"
ky ICON ".\lang_icons\kg.ico"
sw ICON ".\lang_icons\tz.ico"
tk ICON ".\lang_icons\tm.ico"
tt ICON ".\lang_icons\ru.ico"
pa ICON ".\lang_icons\in.ico"
gu ICON ".\lang_icons\in.ico"
or ICON ".\lang_icons\in.ico"
ta ICON ".\lang_icons\in.ico"
te ICON ".\lang_icons\in.ico"
kn ICON ".\lang_icons\in.ico"
ml ICON ".\lang_icons\in.ico"
as ICON ".\lang_icons\in.ico"
mr ICON ".\lang_icons\in.ico"
sa ICON ".\lang_icons\in.ico"
bo ICON ".\lang_icons\cn.ico"
km ICON ".\lang_icons\kh.ico"
lo ICON ".\lang_icons\la.ico"
gl ICON ".\lang_icons\es.ico"
si ICON ".\lang_icons\lk.ico"
am ICON ".\lang_icons\et.ico"
ne ICON ".\lang_icons\np.ico"
fy ICON ".\lang_icons\nl.ico"
ps ICON ".\lang_icons\af.ico"
dv ICON ".\lang_icons\mv.ico"
ha ICON ".\lang_icons\ng.ico"
yo ICON ".\lang_icons\ng.ico"
ba ICON ".\lang_icons\ru.ico"
lb ICON ".\lang_icons\lu.ico"
kl ICON ".\lang_icons\gl.ico"
ig ICON ".\lang_icons\ng.ico"
ii ICON ".\lang_icons\cn.ico"
br ICON ".\lang_icons\fr.ico"
ug ICON ".\lang_icons\cn.ico"
mi ICON ".\lang_icons\nz.ico"
oc ICON ".\lang_icons\es.ico"
co ICON ".\lang_icons\fr.ico"
rw ICON ".\lang_icons\rw.ico"
wo ICON ".\lang_icons\sn.ico"
it ICON ".\lang_icons\it.ico"
nl ICON ".\lang_icons\nl.ico"
nn ICON ".\lang_icons\no.ico"
pt ICON ".\lang_icons\pt.ico"
sv ICON ".\lang_icons\se.ico"
az ICON ".\lang_icons\az.ico"
ga ICON ".\lang_icons\ie.ico"
ms ICON ".\lang_icons\bn.ico"
uz ICON ".\lang_icons\uz.ico"
bn ICON ".\lang_icons\bd.ico"
mn ICON ".\lang_icons\mn.ico"
iu ICON ".\lang_icons\ca.ico"
se ICON ".\lang_icons\fi.ico"
hr ICON ".\lang_icons\hr.ico"
zh ICON ".\lang_icons\cn.ico"
de ICON ".\lang_icons\de.ico"
fr ICON ".\lang_icons\fr.ico"
bs ICON ".\lang_icons\ba.ico"
sr ICON ".\lang_icons\rs.ico"
ar ICON ".\lang_icons\qa.ico"
en ICON ".\lang_icons\en.ico"
es ICON ".\lang_icons\es.ico"
gd ICON ".\lang_icons\en.ico"
cy ICON ".\lang_icons\en.ico"
