FLAG_bg RCDATA ".\\lang_icons\\bg.png"
FLAG_ca RCDATA ".\\lang_icons\\es.png"
FLAG_cs RCDATA ".\\lang_icons\\cz.png"
FLAG_da RCDATA ".\\lang_icons\\dk.png"
FLAG_el RCDATA ".\\lang_icons\\gr.png"
FLAG_fi RCDATA ".\\lang_icons\\fi.png"
FLAG_he RCDATA ".\\lang_icons\\il.png"
FLAG_hu RCDATA ".\\lang_icons\\hu.png"
FLAG_is RCDATA ".\\lang_icons\\is.png"
FLAG_ja RCDATA ".\\lang_icons\\jp.png"
FLAG_ko RCDATA ".\\lang_icons\\kr.png"
FLAG_nb RCDATA ".\\lang_icons\\no.png"
FLAG_pl RCDATA ".\\lang_icons\\pl.png"
FLAG_rm RCDATA ".\\lang_icons\\ch.png"
FLAG_ro RCDATA ".\\lang_icons\\ro.png"
FLAG_ru RCDATA ".\\lang_icons\\ru.png"
FLAG_sk RCDATA ".\\lang_icons\\sk.png"
FLAG_sq RCDATA ".\\lang_icons\\al.png"
FLAG_th RCDATA ".\\lang_icons\\th.png"
FLAG_tr RCDATA ".\\lang_icons\\tr.png"
FLAG_ur RCDATA ".\\lang_icons\\pk.png"
FLAG_id RCDATA ".\\lang_icons\\id.png"
FLAG_uk RCDATA ".\\lang_icons\\ua.png"
FLAG_be RCDATA ".\\lang_icons\\by.png"
FLAG_sl RCDATA ".\\lang_icons\\si.png"
FLAG_et RCDATA ".\\lang_icons\\ee.png"
FLAG_lv RCDATA ".\\lang_icons\\lv.png"
FLAG_lt RCDATA ".\\lang_icons\\lt.png"
FLAG_tg RCDATA ".\\lang_icons\\tj.png"
FLAG_fa RCDATA ".\\lang_icons\\ir.png"
FLAG_vi RCDATA ".\\lang_icons\\vn.png"
FLAG_hy RCDATA ".\\lang_icons\\am.png"
FLAG_eu RCDATA ".\\lang_icons\\es.png"
FLAG_mk RCDATA ".\\lang_icons\\mk.png"
FLAG_tn RCDATA ".\\lang_icons\\bw.png"
FLAG_xh RCDATA ".\\lang_icons\\za.png"
FLAG_zu RCDATA ".\\lang_icons\\za.png"
FLAG_af RCDATA ".\\lang_icons\\za.png"
FLAG_ka RCDATA ".\\lang_icons\\ge.png"
FLAG_fo RCDATA ".\\lang_icons\\fo.png"
FLAG_hi RCDATA ".\\lang_icons\\in.png"
FLAG_mt RCDATA ".\\lang_icons\\mt.png"
FLAG_kk RCDATA ".\\lang_icons\\kz.png"
FLAG_ky RCDATA ".\\lang_icons\\kg.png"
FLAG_sw RCDATA ".\\lang_icons\\tz.png"
FLAG_tk RCDATA ".\\lang_icons\\tm.png"
FLAG_tt RCDATA ".\\lang_icons\\ru.png"
FLAG_pa RCDATA ".\\lang_icons\\in.png"
FLAG_gu RCDATA ".\\lang_icons\\in.png"
FLAG_or RCDATA ".\\lang_icons\\in.png"
FLAG_ta RCDATA ".\\lang_icons\\in.png"
FLAG_te RCDATA ".\\lang_icons\\in.png"
FLAG_kn RCDATA ".\\lang_icons\\in.png"
FLAG_ml RCDATA ".\\lang_icons\\in.png"
FLAG_as RCDATA ".\\lang_icons\\in.png"
FLAG_mr RCDATA ".\\lang_icons\\in.png"
FLAG_sa RCDATA ".\\lang_icons\\in.png"
FLAG_bo RCDATA ".\\lang_icons\\cn.png"
FLAG_km RCDATA ".\\lang_icons\\kh.png"
FLAG_lo RCDATA ".\\lang_icons\\la.png"
FLAG_gl RCDATA ".\\lang_icons\\es.png"
FLAG_si RCDATA ".\\lang_icons\\lk.png"
FLAG_am RCDATA ".\\lang_icons\\et.png"
FLAG_ne RCDATA ".\\lang_icons\\np.png"
FLAG_fy RCDATA ".\\lang_icons\\nl.png"
FLAG_ps RCDATA ".\\lang_icons\\af.png"
FLAG_dv RCDATA ".\\lang_icons\\mv.png"
FLAG_ha RCDATA ".\\lang_icons\\ng.png"
FLAG_yo RCDATA ".\\lang_icons\\ng.png"
FLAG_ba RCDATA ".\\lang_icons\\ru.png"
FLAG_lb RCDATA ".\\lang_icons\\lu.png"
FLAG_kl RCDATA ".\\lang_icons\\gl.png"
FLAG_ig RCDATA ".\\lang_icons\\ng.png"
FLAG_ii RCDATA ".\\lang_icons\\cn.png"
FLAG_br RCDATA ".\\lang_icons\\fr.png"
FLAG_ug RCDATA ".\\lang_icons\\cn.png"
FLAG_mi RCDATA ".\\lang_icons\\nz.png"
FLAG_oc RCDATA ".\\lang_icons\\es.png"
FLAG_co RCDATA ".\\lang_icons\\fr.png"
FLAG_rw RCDATA ".\\lang_icons\\rw.png"
FLAG_wo RCDATA ".\\lang_icons\\sn.png"
FLAG_it RCDATA ".\\lang_icons\\it.png"
FLAG_nl RCDATA ".\\lang_icons\\nl.png"
FLAG_nn RCDATA ".\\lang_icons\\no.png"
FLAG_pt RCDATA ".\\lang_icons\\pt.png"
FLAG_sv RCDATA ".\\lang_icons\\se.png"
FLAG_az RCDATA ".\\lang_icons\\az.png"
FLAG_ga RCDATA ".\\lang_icons\\ie.png"
FLAG_ms RCDATA ".\\lang_icons\\bn.png"
FLAG_uz RCDATA ".\\lang_icons\\uz.png"
FLAG_bn RCDATA ".\\lang_icons\\bd.png"
FLAG_mn RCDATA ".\\lang_icons\\mn.png"
FLAG_iu RCDATA ".\\lang_icons\\ca.png"
FLAG_se RCDATA ".\\lang_icons\\fi.png"
FLAG_hr RCDATA ".\\lang_icons\\hr.png"
FLAG_zh RCDATA ".\\lang_icons\\cn.png"
FLAG_de RCDATA ".\\lang_icons\\de.png"
FLAG_fr RCDATA ".\\lang_icons\\fr.png"
FLAG_bs RCDATA ".\\lang_icons\\ba.png"
FLAG_sr RCDATA ".\\lang_icons\\rs.png"
FLAG_ar RCDATA ".\\lang_icons\\qa.png"
FLAG_en RCDATA ".\\lang_icons\\en.png"
FLAG_es RCDATA ".\\lang_icons\\es.png"
FLAG_gd RCDATA ".\\lang_icons\\en.png"
FLAG_cy RCDATA ".\\lang_icons\\en.png"
